<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <div>
  </div>
  <h3 class="margin">KUZ-EX Online Sınav Portalına Hoşgeldiniz!</h3>
  <img src="assets/1.jpg" width="350" height="350"> 
</div>
<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Cevap Anahtarları</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Türkçe Cevap Anahtarına Gitmek İçin Tıklayınız</p>
      <button class="btn btn-outline-info" [routerLink]="['/turkcecevap']">Türkçe</button>
      
    </div>
    <div class="col-sm-4"> 
        <p>Matematik Sınavı Çok Yakında Burada!</p>
        
    </div>
    <div class="col-sm-4"> 
      <p>Yeni sınavlar çok yakında KUZ-EX online sınav portalında!</p>
     
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Copyright-Nevzat Buğra Kuzucuk</p> 
</footer>
</body>
</html>
